html{
    scroll-behavior: smooth;
	overflow: hidden;
	height: 100%;
	margin:0;
	padding:0;
}
body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
img{
	width:100%;
}
.container{
    float:left;
    width:100%;
}
nav{
    position: fixed;
    background: #fff;
    border-bottom: 1px solid #ccc;
    width: 12%;
    z-index: 1;
    right: -12%;
	top:0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    list-style: none;
	padding:0;
}
ul li{
    margin: 15px 10px;
    text-align: center;
    margin-bottom: 15px;
	background-image: linear-gradient(white 10%, #aeaeae 100%);
	border-radius: 25%;
	border:1px solid #848484;
	padding: 2px;
}
ul li a{
    text-decoration: none;
    color:black;
	font-size:14px;
}
.active{
	box-shadow: 0px 0px 4px #45a921;
    background-image: linear-gradient(#aeaeae 10%, white 100%);
    border: 1px solid #65bb46;
}
.active a{
	color:red;
	font-weight: bold;
	text-shadow: 0px 0px 3px #fff;
}
.content{
    float:left;
    width:100%;
    position: absolute;
    top:0px;
	background: url("images/bg.png") no-repeat -270px -90px;
	background-attachment: fixed;
}
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven, #twelve{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-btn{
	position: fixed;
    width: 50px;
    bottom: 10px;
    right: 10px;
}
.move{
	right:0%;
	transition: all 0.5s ease-in-out;
}
.img1{
	position: absolute;
    height: 0;
    top: 1%;
    left: 5%;
    width: 80%;
}
.img2{
	top:10px;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  width: 100%;
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  height:30px;
}
.enlarge{
  width:300px;
  height:300px;
  transition: all 1s;
  transform: scale(1, 1) rotate(0deg) !important;
}
.item {
  width: 100%;
  display: inline-block;
  /*margin-top: 2rem;
  filter: grayscale(100%);*/
}
.item:nth-of-type(4n+1) {
  transform: scale(0.5, 0.5) rotate(12deg);
  transition: all 1s;
}
/*.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:nth-of-type(4n+2):hover{
	z-index:9999999999999999999;
}*/	
/*#two{
    background: blue;
}
#three{
    background: green;
}
#four{
    background: yellow;
}
#five{
	background: cyan;
}
#six{
	background: magenta;
}
#seven{
	background: grey;
}
#eight{
	background: orange;
}
#nine{
	background: pink;
}
#ten{
	background: violet;
}
#eleven{
	background: indigo;
}
#twelve{
	background: brown;
}*/
.land{
	display:none;
}

@media screen and (orientation:landscape){
	.land{
		display: flex;
		align-items: center;
		justify-content: center;
		height:calc(100vh - 60px);
		width: 100vw;
		margin:0;
	}
	.container{
		display: none;
	}
}